* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    h1:hover {
        text-decoration: underline;
    }
}
.botonIngresar {
    width: 100px;
    height: auto;
    margin: 10px;
    padding: 5px;
}
.finalizarCompra {
    width: 100px;
    height: auto;
    margin: 10px;
    padding: 5px;
}